<div class="container">
<br>
<h2>修改密碼</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "電子郵件信箱" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label "新密碼" %><em>最少<%= @minimum_password_length %> 個字元</em>
     <i>（若不想修改請保持空白）</i><br />
    <%= f.password_field :password, autocomplete: "新密碼" %>
    <% if @minimum_password_length %>
    <% end %>
  </div>
  <br>
  <div class="field">
    <%= f.label "再次輸入新密碼" %>
    <%= f.password_field :password_confirmation, autocomplete: "再次輸入新密碼" %>
  </div>
  <br>
  <div class="field">
    <%= f.label "原密碼"%> <i（請輸入原密碼以確認）</i>
    <%= f.password_field :current_password, autocomplete: "原密碼" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "修改密碼" %>
  </div>
<% end %>

<h3>刪除帳號</h3>

<%= button_to "刪除帳號", registration_path(resource_name), data: { confirm: "是否確定?" }, method: :delete %>

<%= link_to "回到上一頁", :back %>
</div>