    <table> 
      <tr><td><%= '發佈時間' %></td><td><%= "標題" %></td><td><%= "內容" %></td><td></td></tr>
      <% @posts.each do |post| %>        
            <tr>
              <td><%= post.created_at.strftime("%d %b. %Y %H:%M") %></td>
              <td><%= link_to post.title.truncate(20), admin_post_path(post) %></td>
              <td><%= post.description.truncate(80) %></td>
              <td>
                  <div class="button-group">
                    <%= link_to edit_admin_post_path(post) do %><button class="btn btn-info"><i class="fa fa-pencil-square-o"></i> 修改 </button><% end %>
                    <%= link_to admin_post_path(post), method: :delete do%><button class="btn btn-light"><i class="fa fa-trash"></i> 刪除 </button><% end %>                  
                  </div>
                </div>
              </td>
            </tr>
      <% end %>
    </table>
    <%= paginate @posts %>