    <table class="table col-12">
      <thead class="thead-dark"> 
        <tr><th style="width: 15%"><%= '發佈時間' %></th><th style="width: 15%"><%= "標題" %></th><th style="width: 35%"><%= "內容" %></th><th style="width: 25%"></th></tr>
      <thead>
      <% @posts.each do |post| %>        
            <tr>
              <td><%= post.created_at.strftime("%d %b. %Y %H:%M") %></td>
              <td><%= link_to post.title.truncate(20), admin_post_path(post) %></td>
              <td><%= post.description.truncate(80) %></td>
              <td>
                  <div class="button-group">
                    <%= link_to edit_admin_post_path(post) do %><button class="btn btn-info"><i class="fa fa-pencil-square-o"></i> 修改 </button><% end %>
                    <%= link_to admin_post_path(post), method: :delete do%><button class="btn btn-warning"><i class="fa fa-trash"></i> 刪除 </button><% end %>                  
                  </div>
                </div>
              </td>
            </tr>
      <% end %>
    </table>
    <%= paginate @posts %>