<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <br>
        <div class="card">
          <div class="card-header text-center">
            <%= "會員功能" %>
          </div>
            <div class="card-body">
              <div class="row">
                <!-- Button trigger modal -->
                <div class="col-sm-5 col-md-3 col-lg-2 p-1 mx-auto">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1"><i class="fa fa-thumbs-o-up fa-lg"></i>顯示推薦連結</button>
                </div>
                <div class="col-sm-5 col-md-3 col-lg-2 p-1 mx-auto">
                  <button class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter2"><i class="fa fa-users fa-lg"></i>好友邀請列表</button>
                </div>                
                <div class="col-sm-5 col-md-3 col-lg-2 p-1 mx-auto">
                  <%= link_to edit_user_path(current_user) do %> <button class="btn btn-success"><i class="fa fa-pencil-square-o fa-lg"></i>修改會員資料</button><% end %>
                </div>
                <div class="col-sm-5 col-md-3 col-lg-2 p-1 mx-auto">
                  <%= link_to edit_user_registration_path(current_user) do %> <button class="btn btn-dark"><i class="fa fa-cog fa-lg"></i>修改密碼</button><% end %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <br>
      <div class="card">
        <div class="card-header text-center">
          <%= "個人資料" %>
        </div>
        <div class="card-body">
          <strong>姓名：<%= @user.name %></strong>
          <br>
          <strong>Email：<%= @user.email %></strong> 
          <% if current_user.role == "admin" %>
              <br>
              <strong>使用者權限：<%= @user.role %></strong> 
          <% end %>
          <br>
          <strong>電話：<%= @user.tel %></strong> 
          <br>     
          <strong>手機：<%= @user.cel %></strong>   
          <br>
        </div>
      </div>
    </div>
    <br>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <br>
        <div class="card">
          <div class="card-header text-center">
            <%= "推薦好友" %>
          </div>
            <div class="card-body">
              <div class="row">
                <% @invited_users.each do |user| %> 
                  <div class="col-6">
                    <strong><%= user.email %></strong><br>
                  </div>
                <% end %>
              </div>
            </div>
        </div>
      </div>
      <br>
    </div>

    <!-- Modal1 -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">個人推薦連結</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= @invite_link %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal2 -->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">邀請好友列表</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render partial: "shared/invited_list" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<br>