<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>福代書地政士事務所</h1>
					<p>中國大陸國家級房地產估價師、中國大陸國家級土地估價師(台灣唯一取得該雙證照者)、中國大陸國家級不動產經紀人。</p>
					<ul class="actions">
						<li><a href="#one" class="button scrolly">辦案專長領域</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3>農用證明</h3>
							<p>Morbi in sem quis dui plalorem ipsum<br /> euismod in, pharetra sed ultricies.</p>
						</div>
						<div>
							<h3>買賣過戶</h3>
							<p>Morbi in sem quis dui plalorem ipsum<br /> euismod in, pharetra sed ultricies.</p>
						</div>						
						<div>
							<h3>繼承贈與</h3>
							<p>Tristique yonve cursus jam nulla quam<br /> loreipsu gravida adipiscing lorem</p>
						</div>
					</div>
					<div class="flex-item image fit round">
						<%= image_tag ( "pic01.jpg"), class: "responsive" %>
					</div>
					<div class="flex-item right">
						<div>
							<h3>土地變更</h3>
							<p>Sed adipiscing ornare risus. Morbi estes<br /> blandit sit et amet, sagittis magna.</p>
						</div>
						<div>
							<h3>產權調查</h3>
							<p>Sed adipiscing ornare risus. Morbi estes<br /> blandit sit et amet, sagittis magna.</p>
						</div>						
						<div>
							<h3>實價應用</h3>
							<p>Pellentesque egestas sem. Suspendisse<br /> modo ullamcorper feugiat lorem.</p>
						</div>
					</div>
				</div>
			</section>
		<!-- Three -->
			<section id="three" class="container-fluid">
				<h2 class="text-center">最新公告</h2>		
						<div class="row">						
						<% @posts.each do |post| %>
							<div class="col-sm-12 col-md-3">
								<div class="card">
        					<div class="card-body">   
        						<div class="content">       
        							<strong><%= post.created_at.strftime("%d %b. %Y %H:%M") %></strong>    
											<h3 class="text-primary"><%= link_to post.title, post_path(post) %></h3>
											<p class="card-text"><%= post.description.truncate(100) %></p>
										</div>
									</div>
								</div>
							</div>
			      <% end %>
			    </div>
			     <div class="button-group">
			  		<%= link_to posts_path do%><button class="btn-lg btn-light board"><i class="fa fa-bullhorn"></i> 進入公布欄 </button><% end %>
			  	</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>經營理念</h2>
					<figure>
					    <blockquote>
					        "公正、專業、誠信、效率、誠正且合理的收費，<br />豐富經驗，精準估價來自於專業整合。"
					    </blockquote>
					    <footer>
					        <cite class="author">鄭佳宜</cite>
					        <cite class="company">首席地政士, 福代書地政事務所</cite>
					    </footer>
					</figure>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="image fit">
							<%= image_tag ( "pic02.jpg"), class: "responsive" %>
						</div>
						<div class="content">
							<h3>Consequat</h3>
							<p>Placerat ornare. Pellentesque od sed euismod in, pharetra ltricies edarcu cas consequat.</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<%= image_tag ( "pic03.jpg"), class: "responsive" %>
						</div>
						<div class="content">
							<h3>鄭佳宜</h3>
							<i class="fa fa-tag"> 臺灣大學農經系學、碩、博士</i>
							<i class="fa fa-tag"> 中興、臺體育兼任助理教授</i>
							<i class="fa fa-tag"> 高考三等農業行政三次及格</i>
							<i class="fa fa-tag"> 高考二等農業行政筆試榜首榜眼</i>
							<i class="fa fa-tag"> 前臺中市區公所農業建設課課員</i>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<%= image_tag ( "pic04.jpg"), class: "responsive" %>
						</div>
						<div class="content">
							<h3>Malesuada</h3>
							<p>Nam dui mi, tincidunt quis, accu an porttitor, facilisis luctus que metus vulputate sem magna.</p>
						</div>
					</div>
				</div>
			</section>
