<div class="container">
  <br>
  <h2>註冊邀請帳號</h2>

  <%= form_for @reg do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <br>
    <div class="field">
      <%= f.label "密碼" %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        最少輸入 <%= @minimum_password_length %> 個字元
      <% end %>
    </div>
    <br>
    <div class="field">
      <%= f.label "再輸入一次密碼" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <br>
    <div class="field">
        <%= f.label "首次諮詢內容簡述：" %>
        <%= f.text_field :description %>
    </div>
    <%= f.hidden_field :invite_token %>
    <br>
    <div class="actions">
      <%= f.submit "註冊" %>
    </div>
  <% end %>
</div>