<div class="container"> 
  <br>  
  <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 well">  
      <%= form_for @post, url: admin_posts_path do |f| %>
        <div class="form-group">
          <%= f.label "標題：" %>
          <%= f.text_field :title , class: "form-control" %>
        </div>
        <div class="form-group">
          <label>內容：</label>
          <%= f.text_area :description, :maxlength => 250, :cols => "10", :rows => "5", class: "form-control" %>
        </div>
          <%= f.submit class: "btn btn-info pull-right form-group", value: "發佈" %>        
      <% end %>
  </div>
    <table> 
      <tr><td><%= '發佈時間' %></td><td><%= "標題" %></td><td><%= "內容" %></td></tr>
      <% @posts.each do |post| %>        
            <tr>
              <td><%= post.created_at.strftime("%d %b. %Y %H:%M") %></td>
              <td><%= link_to post.title.truncate(20), admin_post_path(post) %></td>
              <td><%= post.description.truncate(80) %>
                <div class="button-group pull-right">
                  <%= link_to edit_admin_post_path(post) do %><button class="btn btn-info"><i class="fa fa-pencil-square-o"></i> 修改 </button><% end %>
                  <%= link_to admin_post_path(post), method: :delete do%><button class="btn btn-light"><i class="fa fa-trash"></i> 刪除 </button><% end %>                  
                </div>
              </td>
            </tr>
      <% end %>
    </table>
    <%= paginate @posts %>
</div>