<div class="container">
  <br>
  <%= render partial: "shared/post_ctl_tag" %>
  <br>
  <div class="col-12">
      <%= form_for @post, url: admin_posts_path do |f| %>
        <%= render partial: "shared/post_form", locals: {f: f}%>
        <%= render partial: "shared/post_file", locals: {f: f}%>
        <%= f.submit class: "btn btn-info pull-right form-group", value: "上傳檔案/新增公告" %>
      <% end %>
  </div>
  <%= render partial: "shared/posts_table" %>
</div>
