<div class="container"> 
  <br>  
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/admin">公告管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/users">會員管理</a>
    </li>
  </ul>

  <div class="col-12">  
      <%= form_for @post, url: admin_posts_path do |f| %>
        <div class="form-group">
          <%= f.label "標題：" %>
          <%= f.text_field :title, :maxlength => 60, class: "form-control" %>
        </div>
        <div class="form-group">
          <label>內容：</label>
          <%= f.text_area :description, :maxlength => 800, :cols => "10", :rows => "5", class: "form-control" %>
        </div>
          <%= f.submit class: "btn btn-info pull-right form-group", value: "發佈公告" %>   
      <% end %>
  </div>
  <%= render partial: "shared/posts_table" %>
</div>