<br>
<div class = "container">
  <br>
  <%= render partial: "shared/user_ctl_tag" %>
  <br>
  <div class="col-md-4 well well-lg">
      <%= form_for @user, url: admin_user_path do |f| %>
        <div class="form-group">
          <%= f.label "姓名：" %>
          <%= f.text_field :name , class: "form-control" %>
        </div>
        <div class="form-group">
          <label>手機：</label>
          <%= f.phone_field :cel, class: "form-control" %>
        </div>
        <div class="form-group">
          <label>電話：</label>
          <%= f.telephone_field :tel, class: "form-control" %>
        </div>      
        <%= f.submit "確認" %>
      <% end %>
  </div>
</div>