<!DOCTYPE html>
<html>
  <head>
    <title>免費諮詢 - 福代書地政士事務所</title>
    <meta name="keywords" content="線上諮詢、免費諮詢、代書事務所、地政士事務所、代書、地政士、不動產、福代書地政士事務所">
    <meta name="description" content="福代書地政士事務所
          土地分割 土地合併 土地過戶 財產繼承 土地買賣 土地鑑界 農用證明 375減租 土地登記 土地變更 土地贈與 土地繼承">
    <meta name="google-site-verification" content="TTuBpk0dK6RWtn48VQwJWU3pdA2Pgke8NuE8FjNOjlg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Header -->
      <header id="header">
        <nav class="left">
          <a href="#menu"><span>Menu</span></a>
          <% if current_user %><strong class="alt"><%= current_user.email %> 您好</strong><% end %>
        </nav>
        <a href="/pages/index.html" class="logo">福代書</a>
        <nav class="right">
            <% if current_user %>
              <% if current_user.role == "admin" %> 
                <%= link_to admin_root_path, class:"button alt" do %>管理後台<% end %>            
              <% end %>
              <%= link_to user_path(current_user), class:"button alt" do %>會員中心<% end %>
              <%= link_to destroy_user_session_path, :method => :delete, class:"button alt" do %>登出<% end %>
            <% else %>
              <%= link_to new_user_registration_path, class:"button alt" do %>註冊<% end %>
              <%= link_to new_user_session_path, class:"button alt" do %>登入<% end %>
            <% end %>
        </nav>
      </header>

    <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="index.html">首頁</a></li>
          <li><a href="/users/:id">會員中心</a></li>
          <li><a href="elements.html">Elements</a></li>
        </ul>
        <ul class="actions vertical">
          <li><a href="/users/sign_in" class="button fit">Login</a></li>
        </ul>
      </nav>

    <div class="container">
      <% if flash[:notice] %>
          <br>
          <div class="alert alert-success alert-dismissible text-center" role="alert">
            <%= notice %>
          </div>
      <% end %>
      <% if flash[:alert] %>
          <br>
          <div class="alert alert-danger alert-dismissible text-center" role="alert">
            <%= alert %>
          </div>
      <% end  %> 
    </div>
    <%= yield %>

    <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <h2>聯絡我們</h2>
          <ul class="actions">
            <li><span class="icon fa-phone"></span> <a href="#">(04) 2260-8753</a></li>
            <li><span class="icon fa-envelope"></span> <a href="#">FU.PHD888@gmail.com</a></li>
            <li><span class="icon fa-map-marker"></span> 123 台中市南區高工二街49號 00000</li>
            <br>            
          </ul>
        </div>
        <div class="copyright">
          &copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
        </div>
      </footer>
  </body>
</html>
