<!DOCTYPE html>
<html>
  <head>
    <title>福代書地政士事務所</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Header -->
      <header id="header">
        <nav class="left">
          <a href="#menu"><span>Menu</span></a>
        </nav>
        <a href="index.html" class="logo">福代書</a>
        <nav class="right">
          <ul class="pull-right text-right nav navbar-nav">
            <% if current_user %>
              <% if current_user&.admin? %>
                <li><%= link_to 'Admin Panel', admin_tweets_path %></li>                
              <% end %>
              <li><%= link_to 'Home', user_path(current_user) %></li>
              <li><p class="navbar-text">Hi, <%= current_user.email %></
              <%= link_to destroy_user_session_path, class:"button alt" do %>登出<% end %>
              <%= link_to edit_user_path(current_user), class:"button alt" do %>修改個人資料<% end %>
              <%= link_to edit_user_registration_path, class:"button alt" do %>修改密碼<% end %>
            <% else %>
              <%= link_to new_user_registration_path, class:"button alt" do %>註冊<% end %>
              <%= link_to new_user_session_path, class:"button alt" do %>登入<% end %>
              

            <% end %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </ul>

        </nav>
      </header>

    <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="index.html">Home</a></li>
          <li><a href="generic.html">Generic</a></li>
          <li><a href="elements.html">Elements</a></li>
        </ul>
        <ul class="actions vertical">
          <li><a href="#" class="button fit">Login</a></li>
        </ul>
      </nav>


    <%= yield %>
  </body>
</html>
