<!DOCTYPE html>
<html>
  <head>
    <title>福代書地政士事務所</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Header -->
      <header id="header">
        <nav class="left">
          <a href="#menu"><span>Menu</span></a>
          <strong>Hi, <%= current_user.email %></strong>
        </nav>
        <a href="index.html" class="logo">福代書</a>
        <nav class="right">
            <% if current_user %>
              <% if current_user.role == "admin" %> 
                <%= link_to admin_path, class:"button alt" do %>管理後台<% end %>            
              <% end %>
              <%= link_to user_path(current_user), class:"button alt" do %>會員中心<% end %>
              <%= link_to edit_user_path(current_user), class:"button alt" do %>修改個人資料<% end %>
              <%= link_to destroy_user_session_path, class:"button alt" do %>登出<% end %>
            <% else %>
              <%= link_to new_user_registration_path, class:"button alt" do %>註冊<% end %>
              <%= link_to new_user_session_path, class:"button alt" do %>登入<% end %>
            <% end %>
        </nav>
      </header>

    <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="index.html">Home</a></li>
          <li><a href="generic.html">Generic</a></li>
          <li><a href="elements.html">Elements</a></li>
        </ul>
        <ul class="actions vertical">
          <li><a href="#" class="button fit">Login</a></li>
        </ul>
      </nav>

    <%= yield %>
    <div class="container">
      <% if flash[:notice] %>
                <div class="alert alert-success alert-dismissible text-center" role="alert">
                  <%= notice %>
                </div>
      <% end %>
      <% if flash[:alert] %>
                <div class="alert alert-danger alert-dismissible text-center" role="alert">
                  <%= alert %>
                </div>
      <% end  %> 
    </div>
  </body>
</html>
